# Mac files
.DS_Store

#Ignore vim files
*.swo
*.swp

#Logs
*.log

#Save States
*.db

#Python
*.pyc

#Secrets
creds.txt

#PyCharm
.idea/

# pip
*egg-info/

#Eddie is developing custom algos
#in the same directory, ignore for now
# Please share! -Ryan
*eddie*
