tensorflow
keras
python-dateutil
alpha-vantage
simplejson
pandas
empyrical
pytrends
matplotlib
h5py
"requests[security]"

# tkinter (apt-get install python-tk)
# https://github.com/Jamonek/Robinhood (git clone, sudo -H pip3 install .)
